# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
env/
.venv/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Logs and outputs
*.log
*.out
*.tmp

# Local configs
*.env
.env.*
